body {
    touch-action:none;
    @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
    font-family: 'Noto Sans KR', sans-serif;
}
.logo {
    width:11%;
    height:11%;
    margin:auto;
    margin-right:3%;
}
.signOutButton {
    position:absolute;top:0;right:5px;
}
.popup {display:none;border:5px solid #cccccc;margin:0;padding:5px;background-color:#ffffff;z-index:5; width: 90%;}
.popupContent1 {
    overflow: scroll;
}
.popupContent1 img {
    width: 100%;
}
.popupContent_food img{
    width: 100%;
}
.popupContent_food {
    overflow: scroll;
}
.popupContent_list{
    overflow:scroll;
}
.popupContent2 {
   overflow: scroll;
}
.popupContent2 img {
    width: 100%;
}
.content_w {
    background-color:#fff;
}
.today_wrapper {
    position:relative;
    width:100%;
    padding-bottom:100%;
}
#today_01 {
    position:absolute;
    background-image:url("img/egginhell.jpg");
    background-size:cover;
    width:100%;
    height:100%;
    border-style:none;
}
#today_02 {
    position:absolute;
    background-image:url("img/zmfhzmantb.jpg");
    background-size:cover;
    width:100%;
    height:100%;
    border-style:none;
    border-top:1px solid #fefefe;
}
.today_t {
    color:#fff;
    position:relative;
    left:10px;
    top:70%;
    text-shadow:none;
    font-size:1.5em;
    text-shadow:0 0 0.3em #333;
    font-weight:normal;
}
.today_text {
    font-size:0.75em;
}
#test-div img {
    display: block;
    width: 100%;
}